<div id="user_show">

  <div id="user_info">
    <h1><%= @user.first_name %>'s Pizzas!</h1>
    <p>Address: <%= @user.address %></p>
  </div>

  <div id="user_pizzas">

  <h1>Pizzas!</h1>
  <ul>
    <% @pizzas.each do |p| %>
    <li>
      <%= link_to "Pizza ##{p.id}", pizza_path(p) %> with...
        <% p.toppings.each do |topping| %>
          <br>
          <%= topping.name %>
        <% end %>
    </li>
    <% end %>
  </ul>
  </div>

</div>
