/*
font-family: 'Pridi', serif;
font-family: 'Grand Hotel', cursive;
font-family: 'Faster One', cursive;
 */

 h1 {
   font-family: 'Grand Hotel', cursive;
   font-size: 4em;
 }

nav {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: .5em;
}

span {
  padding-left: 2em;
  padding-right: 2em;
}

input {
  font-family: 'Pridi', serif;
  border-radius: .5em;
}

 body {
   background-color: #700303;
   font-family: 'Pridi', serif;
 }

ul {
  list-style-type: circle;
}

#user_form, #login {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 6em;
  display: vertical;
  border-radius: .5em;
}

#pizza_form {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding: 2em 3em 3em;
  margin-top: 1em;
  border-radius: .5em;
}

#user_show {
  display: flex;
  justify-content: space-between;
}

#user_info {
  margin-left: 2em;
  margin-top: 2em;
  padding: 1em;
  border-radius: .5em;
  background-color: white;
}

#user_pizzas {
  margin-right: 3em;
  margin-top: 2em;
  padding: 1em;
  border-radius: .5em;
  background-color: white;
}

.go_home {
  text-align: right;
  padding-top: .5em;
}

#errors {
  border-radius: .5em;
  background-color: white;
  margin: 1em;
}

#register {
  display: flex;
  justify-content: space-between;
}
